# Title table inspection

This notebook check consitency between table 'df_titles_general' and 'df_person_title'.

### imposrt and loads

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# local
import set_path
import supp.support_load as lp
import supp.support_get_mapping as gm

In [2]:
# ------------------------------
# LOAD DATA
# ------------------------------
dfs, dfs_name, dfs_export_date = lp.load_pickle()
# iton ... index to name dictionary
# ntoi ... name to index dictionary
iton, ntoi = lp.get_name_dicts(dfs_name)
dfs_export_date

Pickle database loaded.

'2024-02-19'

### others

In [18]:
df_general = dfs[ntoi['df_general']]
df_person = dfs[ntoi['df_person']]
df_titles = dfs[ntoi['df_titles']]
df_titles_general = dfs[ntoi['df_titles_general']]
df_person_title = dfs[ntoi['df_person_title']]
print(df_general.shape, '\t df_person_title')
print(df_person.shape, '\t df_person')
print(df_titles.shape, '\t df_titles')
print(df_titles_general.shape, '\t df_titles_general')
print(df_person_title.shape, '\t df_person_title')

(5164, 14) 	 df_person_title
(4736, 6) 	 df_person
(2303, 18) 	 df_titles
(13561, 2) 	 df_titles_general
(13561, 3) 	 df_person_title

### Test 1

In [34]:
df_1 = df_titles_general[~df_titles_general.duplicated()]
df_1 = df_1[['ID_official', 'ID_title']]
df_1.shape

(13524, 2)

In [35]:
df_2 = df_person_title[~df_person_title.duplicated()]
df_2 = df_2[['ID_official', 'ID_title']]
df_2.shape

(13524, 2)

In [36]:
df_1.equals(df_2)

True

### Test 2

In [41]:
print(df_titles_general.columns)
print(df_person_title.columns)

Index(['ID_official', 'ID_title'], dtype='object')
Index(['ID_official', 'ID_title', 'ID_person'], dtype='object')

In [69]:
df_3 = pd.merge(df_titles_general, df_general, on='ID_official')
df_3 = df_3[['ID_official', 'ID_title', 'ID_person']]
df_3 = df_3[~df_3.duplicated()]
# order df
df_3 = df_3.sort_values(by=list(df_3.columns)).reset_index(drop=True)
df_3.shape

(13524, 3)

In [68]:
df_4 = df_person_title[~df_person_title.duplicated()]
df_4 = df_4[['ID_official', 'ID_title', 'ID_person']]
# order df
df_4 = df_4.sort_values(by=list(df_4.columns)).reset_index(drop=True)
df_4.shape

(13524, 3)

In [70]:
df_3.equals(df_4)

True

### conclusion

By this jupyter notebook, it can be seen that 'df_titles_general' (2 columns) is only squeezed 'df_person_title' (3 columns) by omiting 'ID_person' column.

Table 'df_person_title' can be reach by merging 'df_person_title' and 'df_general' on column 'ID_official' and subsequent removing duplicates.