# Merge of all dataframes related to "person"

This notebook aims to merge all dataframes that are related to "person" in Maatbase database. Specifically:

- df_person
- df_titles
- df_person_working_activity
- df_attributes
- df_attributes_position
- df_name

Plus using mapping tables:
- df_person_title
- df_titles_general
- df_general_attributes

### database schema

![title](db_schema\Maatbase_schema_colored.svg)

### imports and load

In [2]:
import os
import numpy as np
import pandas as pd
import set_path
import supp.support_load as sl
from supp.support_merge import merge, group_to_list
from supp.support_save import save_df
from supp.support_analyzer import make_excel_analysis

In [3]:
dfs, dfs_name, dfs_export_date = sl.load_pickle()
iton, ntoi = sl.get_name_dicts(dfs_name)
dfs_export_date

Pickle database loaded.
C:\Users\Stoja\OneDrive\Documents\diplomka\scr\data\dfs_complete.pickle

'2024-10-11'

In [4]:
df_general = dfs[ntoi['df_general']]
df_tomb_shaft_relation = dfs[ntoi['df_tomb_shaft_relation']]

In [50]:
df_person_all = sl.read_csv('df_person_all.csv')
df_tomb_all = sl.read_csv('df_tomb_all.csv')

CSV file loaded.
C:\Users\Stoja\OneDrive\Documents\diplomka\scr\data\df_person_all.csv
CSV file loaded.
C:\Users\Stoja\OneDrive\Documents\diplomka\scr\data\df_tomb_all.csv

In [16]:
df_map_person_tomb = df_general[~df_general['buried'].isna()]
df_map_person_tomb = df_map_person_tomb[['tomb_code_id', 'ID_person']].copy()
print(f'shape={df_map_person_tomb.shape}, df_map_person_tomb')
# drop duplicates
print(f'n. duplicates: {df_map_person_tomb.duplicated().sum()}')
df_map_person_tomb.drop_duplicates(inplace=True)
print(f'shape={df_map_person_tomb.shape}, df_map_person_tomb wihtout duplicates')
# inspect duplicates of tombs
print(f'n. tomb duplicates: {df_map_person_tomb["tomb_code_id"].duplicated().sum()}')
# inspect duplicates of person
print(f'n. person duplicates: {df_map_person_tomb["ID_person"].duplicated().sum()}')

shape=(111, 2), df_map_person_tomb
n. duplicates: 0
shape=(111, 2), df_map_person_tomb wihtout duplicates
n. tomb duplicates: 27
n. person duplicates: 0

In [13]:
df_map_person_tomb[df_map_person_tomb['ID_person'].duplicated(keep=False)].sort_values('ID_person')

Empty DataFrame
Columns: [tomb_code_id, ID_person]
Index: []

In [ ]:
df = df_general[df_general]

In [44]:
df_general['owner'][(df_general['owner']!='no') & ~(df_general['owner'].isna())]

882

In [66]:
df_person = dfs[ntoi['df_person']]
df_person[df_person['ID_person']==1]

     ID_person   sex social_status age_at_death age_category career_length
237          1  male       highest          NaN          NaN           NaN

In [1]:
df_name = dfs[ntoi['df_name']]

NameError: name 'dfs' is not defined

In [69]:
df_general[df_general['ID_person']==1]['name_id'].unique()

array([172, 379, 166, 562], dtype=int64)

In [74]:
df_name[df_name['name_id'].isin([172, 379, 166, 562])]

,ID_official_source,name,Gourdon,Ranke,Scheele-Schweitzer,name_ext,name_id
222,225,PtH-...,38a/4,"I, 138/9",NaN,PtH-...,166
230,233,PtH-Spcc,655/1 ^pss-PtH,"I, 326/19",676–678/3309 ^pss-PtH,PtH-Spcc,172
535,538,5pcc,653/4,"I, 326/17",676/3305,5pcc,379
826,832,...,NaN,NaN,NaN,...,562